<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Recursos Humanos - Travel Trip</title>
</head>
<body>

<a class="nav-link" th:href="@{'/Empleados'}">Empleados</a>
<a class="nav-link" th:href="@{'/Historial'}">Historial<span class="sr-only">(current)</span></a>
<a class="nav-link" th:href="@{'/Reportes'}">Reportes</a>
    <div class="container">
        <img th:src="@{../static/travel_trip_logo.png}"/>
    </div>
</body>
</html>